body{background:#0b0215;color:white;font-family:Poppins}
.quiz-box{max-width:800px;margin:auto;background:#12001f;padding:40px;border-radius:20px}
.q{margin-bottom:25px}
button{background:#7c3aed;color:white;border:none;padding:12px 30px;border-radius:30px;cursor:pointer}
label{display:block;margin:6px 0}
#result{margin-top:30px;padding:20px;background:#1a0030;border-radius:15px}