*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f1117;
    color:#fff;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#151823;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.logo span{
    color:#00ff88;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:30px;
}

.navbar a{
    text-decoration:none;
    color:#aaa;
    transition:0.3s;
}

.navbar a:hover{
    color:#00ff88;
}

.login-btn{
    background:#00ff88;
    padding:10px 20px;
    border-radius:8px;
    font-weight:bold;
    color:#000;
    text-decoration:none;
}

/* PROFILE */
.profile-area{
    position:relative;
}

.profile{
    cursor:pointer;
    background:#1c1f2b;
    padding:10px 18px;
    border-radius:8px;
}

.dropdown{
    position:absolute;
    top:45px;
    right:0;
    background:#151823;
    border-radius:10px;
    width:150px;
    box-shadow:0 5px 20px rgba(0,0,0,0.5);
    display:none;
}

.dropdown.active{
    display:block;
}

.dropdown a{
    display:block;
    padding:12px;
    text-decoration:none;
    color:#fff;
}

.logout{
    color:#ff4d4d;
}

.logout:hover{
    background:#1f2230;
}

/* HERO */
.hero{
    padding:100px 60px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    color:#aaa;
    margin-bottom:30px;
}

.primary-btn{
    background:#00ff88;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
}

/* STATS */
.stats{
    display:flex;
    gap:30px;
    padding:60px;
}

.card{
    flex:1;
    background:#151823;
    padding:30px;
    border-radius:15px;
}

.green{
    color:#00ff88;
}

.red{
    color:#ff4d4d;
}

footer{
    text-align:center;
    padding:20px;
    background:#151823;
    color:#888;
}
