:root{
    --bg:#f4f6fb;
    --text:#222;
    --card:white;
    --main:#4f46e5;
}

body.dark{
    --bg:#121212;
    --text:#ffffff;
    --card:#1e1e1e;
    --main:#22c55e;
}

body{
    margin:0;
    font-family:Segoe UI;
    background:var(--bg);
    color:var(--text);
    transition:0.3s;
}

header{
    background:linear-gradient(135deg,#4f46e5,#06b6d4);
    color:white;
    padding:25px;
    text-align:center;
}

button{
    background:var(--main);
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    opacity:0.85;
}

.container{
    max-width:900px;
    margin:auto;
    padding:25px;
}

section{
    background:var(--card);
    padding:25px;
    border-radius:14px;
    margin-bottom:25px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

select, textarea{
    width:100%;
    padding:8px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
}

.checkbox-group label{
    font-weight:normal;
}

h2{
    color:var(--main);
}