body{
    background:#05000a;
    color:#fff;
    font-family:Poppins;
    padding:40px;
}

h1{text-align:center;color:#b76cff;}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.card{
    background:rgba(255,255,255,0.04);
    padding:25px;
    border-radius:20px;
    border:1px solid rgba(183,108,255,0.25);
    box-shadow:0 0 30px rgba(111,0,255,0.2);
}

.meta span{
    display:inline-block;
    margin-right:10px;
    font-size:12px;
    opacity:.8;
}

.actions{
    margin-top:15px;
}

.btn{
    padding:8px 14px;
    border-radius:10px;
    text-decoration:none;
    font-size:13px;
    margin-right:10px;
}

.view{
    background:#b76cff;
    color:#000;
}

.download{
    background:#00ffd5;
    color:#000;
}